<ion-header>
  <ion-toolbar>
    <ion-title>Diabetes Assessment</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-list>
      <ion-radio-group>
        <ion-list-header color="secondary">
          How old are you?
        </ion-list-header>
        <ion-row>
          <ion-item>
            <ion-col col-md-3>
              <ion-label>1-25</ion-label>
              <ion-radio checked="true" value="1-25"></ion-radio>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-col col-md-3>
              <ion-label>26-40</ion-label>
              <ion-radio value="26-40"></ion-radio>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-col col-md-3>
              <ion-label>41-60</ion-label>
              <ion-radio value="41-60"></ion-radio>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-col col-md-3>
              <ion-label>60+</ion-label>
              <ion-radio value="60+"></ion-radio>
            </ion-col>
          </ion-item>
        </ion-row>
      </ion-radio-group>
    </ion-list>
    <ion-list>
      <ion-radio-group>
        <ion-list-header color="success">
          What is your BMI?
        </ion-list-header>
        <ion-row>
          <ion-item>
            <ion-col col-md-3>
              <ion-label>0-25</ion-label>
              <ion-radio checked="true" value="0-25"></ion-radio>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-col col-md-3>
              <ion-label>26-30</ion-label>
              <ion-radio value="26-30"></ion-radio>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-col col-md-3>
              <ion-label>31-35</ion-label>
              <ion-radio value="31-35"></ion-radio>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-col col-md-3>
              <ion-label>35+</ion-label>
              <ion-radio value="35+"></ion-radio>
            </ion-col>
          </ion-item>
        </ion-row>
      </ion-radio-group>
    </ion-list>
    <ion-list>
      <ion-radio-group>
        <ion-list-header color="danger">
          Does anybody in your family have diabetes?
        </ion-list-header>
        <ion-row>
          <ion-item>
            <ion-col col-md-3>
              <ion-label>No</ion-label>
              <ion-radio checked="true" value="no"></ion-radio>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-col col-md-3>
              <ion-label>Grandparent</ion-label>
              <ion-radio value="grandparent"></ion-radio>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-col col-md-3>
              <ion-label>Sibling</ion-label>
              <ion-radio value="sibling"></ion-radio>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-col col-md-3>
              <ion-label>Parent</ion-label>
              <ion-radio value="parent"></ion-radio>
            </ion-col>
          </ion-item>
        </ion-row>
      </ion-radio-group>
    </ion-list>
    <ion-list>
      <ion-radio-group>
          <ion-list-header color="dark">
            How would you describe your diet?
          </ion-list-header>
            <ion-row>
              <ion-item>
                <ion-col col-md-3>
                  <ion-label>Low sugar</ion-label>
                  <ion-radio checked="true" value="lowSugar"></ion-radio>
                </ion-col>
              </ion-item>
              <ion-item>
                <ion-col col-md-3>
                  <ion-label>Normal Sugar</ion-label>
                  <ion-radio value="normalSugar"></ion-radio>
                </ion-col>
              </ion-item>
              <ion-item>
                <ion-col col-md-3>
                  <ion-label>Quite high sugar</ion-label>
                  <ion-radio value="quiteHighSugar"></ion-radio>
                </ion-col>
              </ion-item>
              <ion-item>
                <ion-col col-md-3>
                  <ion-label>High Sugar</ion-label>
                  <ion-radio value="highSugar"></ion-radio>
                </ion-col>
              </ion-item>
            </ion-row>
      </ion-radio-group>
    </ion-list>
  </form>

</ion-content>
