<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/bg.png"></ion-img>
      <ion-card-header>
        <div class="ion-text-center">
        <ion-card-subtitle style="color:orangered;">Detect Diabetes Before Diagnosis!</ion-card-subtitle>
        </div>
        <div class="ion-text-center">
        <ion-card-title>Find Out About Your Risk</ion-card-title>
        </div>
      </ion-card-header>
      <ion-card-content>
          <div class="ion-text-center">
          <p> Please note this application is only used to aid diagnosis and cannot at any point be a standalone diagnostic product</p>
          <br>
      <p>Before filling out the risk assesment, you will need to know your age, BMI value, family history of diabetes and sugar diet</p>
      </div>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://www.nhs.uk/conditions/diabetes/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>NHS Diabetes Info</ion-label>
      </ion-item>
      <ion-button shape="round" expand="block" color="dark" href="/risk-form">Find Out Your Risk</ion-button>
    </ion-list>
</ion-content>
