.welcome-card ion-img {
  object-fit: resize;
  height: 25vh;
  width: auto !important;
  border: 0;
  padding: 0;
  background-color: rgba(4, 4, 104, 0.918);
}
ion-button{
  color:rgb(8, 233, 8);
}
ion-card-content, ion-card-header, ion-card-title{
  background-color: rgba(4, 4, 104, 0.918);
  color:white;
}